<!DOCTYPE html>
<html>
<head>
<!-- header 파일  -->
{{> /include/header}}
<!-- /header 파일  -->
<script type="text/javascript">
	// 검색 필터링
	var firter = "{{search.filter}}";
	// 검색 파라미터 
	var searchParam = "{{search.param}}";

	// 검색 실행
	function search() {
		searchParam = $('#searchParam').val();
		// 검색할때 공백을 검색할수 없고 글자수 1자 이상이여야함.
		if (searchParam.replace(/^\s*/, "").length > 0) {
			location.href = "/category/1/" + firter + "/" + searchParam;
		}
	}

	// $( document).ready(function() { }); 아래 코드와 같음
	$(function() {
		// 필터
		if (location.href.search("contents") != -1) {
			$('#search_concept').text("내용");
		} else {
			$('#search_concept').text("상품명");
		}

		// 검색어 유지
		$("#searchParam").val(searchParam);

		// 검색 메뉴 선택
		$('.search-panel .dropdown-menu').find('a').click(function(e) {
			e.preventDefault();
			firter = $(this).attr("href");
			var concept = $(this).text();
			$('.search-panel span#search_concept').text(concept);
		});

		// 페이징
		$('#pagination').twbsPagination(
				{
					totalPages : Number("{{page.totalPageNumber}}"),
					visiblePages : 4, // 아래 보여줄 페이지 번호 갯수
					initiateStartPageClick : false, // 시작할때 startPage로 시작할지 설정
					startPage : Number("{{page.number}}"), // 시작 페이지(현제 페이지)
					next : '',
					prev : '',
					onPageClick : function(event, page) {
						if (searchParam.length > 0) {
							// 검색어 추가된후 페이징
							location.href = "/category/" + page + "/" + firter
									+ "/" + searchParam;
						} else {
							location.href = "/category/{{page.category}}/"
									+ page;
						}
					}
				});
	});
</script>
</head>
<body>
	<!-- 페이지 공통 메뉴  -->
	{{> /include/navigation}}
	<!-- /페이지 공통 메뉴  -->
	<div class="container">
		<!-- 검색  -->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<form action="javascript:search()">
					<div class="input-group">
						<div class="input-group-btn search-panel">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span id="search_concept">필터</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="name">상품명</a></li>
								<li><a href="contents">내용</a></li>
								<!-- hr 기능 : <li class="divider"></li> -->
							</ul>
						</div>
						<input type="text" class="form-control" id="searchParam" placeholder="전체 상품 검색..." autofocus>
						<span class="input-group-btn">
							<button class="btn btn-default" id="btnSearch">
								<span class="glyphicon glyphicon-search">
									<!-- 돋보기 모양 -->
								</span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		<!-- /검색  -->
		<br>
		<div class="row">
			<!-- 왼쪽에 공통으로 들어가는 메뉴 -->
			{{> /include/menuCategory}}
			<!-- /왼쪽에 공통으로 들어가는 메뉴 -->
			<div class="col-md-9">
				<!-- 상품 -->
				{{#product}}
				<div class="col-md-3 col-xs-6" style="padding: 5px;">
					<div class="thumbnail">
						<a href="/product/{{number}}">
							<img style="width: 100%; height: 150px;" class="img-responsive" src="{{img}}" alt="">
						</a>
						<div class="caption-full" style="width: 100%; height: 60px;">
							<p>{{title}}</p>
							<strong class="pull-right">{{price}}원</strong>
						</div>
					</div>
				</div>
				{{/product}}
				<!-- /상품 -->
			</div>
		</div>
		<!-- 페이징 [offset : 공백] [xs(<768px) < sm(>=768px) < md(>=992px) < lg(>=1200px)]  -->
		<div class="col-xs-offset-1 col-sm-offset-3 col-md-offset-5">
			<nav aria-label="Page navigation">
				<ul class="pagination" id="pagination"></ul>
				{{#sessionedManager}}
				<a href="/product/save" class="btn btn-primary pull-right">상품 등록</a> {{/sessionedManager}}
			</nav>
		</div>
		<!-- /페이징 -->
	</div>
	<!-- JS 관련 파일  -->
	{{> /include/footer}}
	<!-- /JS 관련 파일  -->
</body>
</html>