<!-- Footer -->
	<div class="container">
		<hr>
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>
						<a href="http://blog.naver.com/zxcvb4825" target="_blank">
							<span class="glyphicon glyphicon-user"> User-J blog </span>
						</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://github.com/userJBS/shop" target="_blank">
							<span class="glyphicon glyphicon-folder-open"> Git</span>
						</a>
					</p>
				</div>
			</div>
		</footer>
	</div>
<!-- /.Footer -->