<meta name="viewport" content="initial-scale=1">
<meta charset="utf-8">
<title>JBS</title>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/css/shop-homepage.css" rel="stylesheet">
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- AJAX로 처리하기 위해서 만든 js 설정 파일 -->
<script src="/js/scripts.js"></script>
<!-- 페이징 처리 -->
<script src="/js/jquery.twbsPagination.js"></script>
<!-- 네이버 에디터  -->
<script type="text/javascript" src="/se2/js/HuskyEZCreator.js" charset="utf-8"></script>