<!-- 카테고리 공통 메뉴 -->
<div class="col-md-3">
	<div class="list-group">
		<!-- 카테고리 -->
		<strong class="list-group-item disabled">카테고리</strong>
		<a href="/category/all/1" class="list-group-item">
			모든 상품
			<!-- 게싯물 갯수 <span class="badge">100</span> -->
		</a>
		<!-- 꽃 카테고리 -->
		<strong class="list-group-item disabled">꽃</strong>
		<a href="/category/bouquet/1" class="list-group-item">
			꽃다발
		</a>
		<a href="/category/daraiflower/1" class="list-group-item">
			드라이플라워
		</a>
		<!-- 인형 카테고리 -->
		<strong class="list-group-item disabled">인형</strong>
		<a href="/category/totoro/1" class="list-group-item">
			토토로
		</a>
	</div>
</div>