<!DOCTYPE html>
<html>
<head>
<!-- header 파일  -->
{{> /include/header}}
<!-- /header 파일  -->
<meta name="viewport" content="initial-scale=0.5">
<script type="text/javascript">
	var oEditors = [];
	$(function() {
		nhn.husky.EZCreator.createInIFrame({
			oAppRef : oEditors,
			elPlaceHolder : "ir1",
			sSkinURI : "/se2/SmartEditor2Skin.html",
			fCreator : "createSEditor2",
			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
			bUseModeChanger : false
		});

		//저장버튼 클릭시 form 전송
		$("#save").click(function() {

			// 에디터의 내용에 대한 값 검증은 이곳에서
			// document.getElementById("ir1").value를 이용해서 처리한다.

			oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
			
			// 제목 입력 확인
			if ($("#title").val().length < 1) {
				alert("제목을 입력 해주세요.");
			} else if ($("#ir1").val().length < 13){
				alert("내용을 입력 해주세요.");
			} else if ($("#price").val().length < 1){
				alert("가격을 입력 해주세요.");
			} else {
				$("#frm").submit();
			}

		});
	});
</script>
</head>
<body>
	<!-- 페이지 공통 메뉴 파일 -->
	{{> /include/navigation}}
	<!-- /페이지 공통 메뉴 파일 -->
	<div class="container">
		<h3>상품 등록</h3>
		<form id="frm" action="/product/save" method="post">
			<label class="sr-only" for="productTitle">상품명</label>
			<input type="text" name="title" id="title" class="form-control" placeholder="상품명을 입력해주세요.">

			<textarea name="contents" id="ir1" style="width: 100%; overflow: visible;" rows="25"></textarea>

			<label class="sr-only" for="price">가격</label>
			<input type="number" name="price" id="price" class="form-control" min="1000" max="100000" step="1000" placeholder="상품가격을 입력해주세요.">
			<br>
			<label class="sr-only" for="category">카테고리</label>
			<select class="form-control" name="category">
				<option value="all">카테고리를 선택해주세요</option>
				<option value="bouquet">꽃다발</option>
				<option value="daraiflower">드라이플라워</option>
				<option value="totoro">토토로</option>
			</select>
			<br>
			<br>
			<br>
			<!--  버튼 크기 .btn-lg > md > sm > xs -->
			<div class="col-sm-7 col-sm-offset-5 col-xs-offset-4">
				<input type="button" class="btn btn-md btn-info" id="save" value="등 록" />
			</div>
		</form>
	</div>
	<!-- JS 관련 파일 -->
	{{> /include/footer}}
	<!-- /JS 관련 파일 -->
</body>
</html>