<!DOCTYPE html>
<html>
<head>
<!-- header 파일  -->
{{> /include/header}}
</head>
<body>
	<!-- 페이지 공통 메뉴 파일  -->
	{{> /include/navigation}}
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<!-- 왼쪽에 공통으로 들어가는 메뉴 -->
			{{> /include/menuAccount}}
			<div class="col-md-9 table-responsive">
				<h3>
					<strong>주문 리스트</strong>
				</h3>
				<br>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>주문 번호</th>
							<th>주문자</th>
							<th>주소</th>
							<th>수량</th>
							<th>상품 번호</th>
							<th>주문 시간</th>
						</tr>
					</thead>
					<tbody>
						{{#order}}
						<tr>
							<th scope="row">{{code}}</th>
							<td>{{account.id}}</td>
							<td>{{account.address}}</td>
							<td>{{amount}}</td>
							<td>{{product.number}}</td>
							<td>{{createDate}}</td>
						</tr>
						{{/order}}
						<!-- 회원 수정 기능 -->
						<!-- <td><a href="#" class="btn btn-success" role="button">수정</a></td> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<!-- JS 관련 파일  -->
	{{> /include/footer}}
</body>
</html>