<!DOCTYPE html>
<html>
<head>
<!-- header 파일  -->
{{> /include/header}}
<!-- /header 파일  -->
</head>
<body>
	<!-- 페이지 공통 메뉴 파일  -->
	{{> /include/navigation}}
	<!-- /페이지 공통 메뉴 파일  -->
	<!-- Page Content -->
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<h3>
				<strong>주문</strong>
			</h3>
			<br>
			<!-- 비로그인 -->
			{{#detailMessage}}
			<div class="alert alert-info" role="alert">
				<a href="/login?uri=order/{{product.number}}">{{this}}</a>
			</div>
			{{/detailMessage}}
			<!-- / 비로그인 -->
			{{^detailMessage}}
			<form method="post">
				<label for="productNumber">상품명</label>
				<a href="/product/{{product.number}}">
					<input type="text" class="form-control" value="{{product.title}}" readonly>
				</a>
				<br>
				<label for="Name">주문자</label>
				<input type="text" name="name" class="form-control" value="{{account.name}}" placeholder="이름을 입력해주세요.">
				<br>
				<label for="productAmount">수량</label>
				<input type="number" name="amount" class="form-control" value="1" min="1">
				<br>
				<label for="address">주소</label>
				<input type="text" name="address" class="form-control" value="{{account.address}}" placeholder="주소를 입력해주세요.">
				<br>
				<button class="btn btn-lg btn-default" type="submit">&nbsp;&nbsp; 주 문 &nbsp;&nbsp;</button>
			</form>
			{{/detailMessage}}
		</div>
	</div>
	<!-- /.container -->
	<!-- JS 관련 파일  -->
	{{> /include/footer}}
	<!-- /JS 관련 파일  -->
</body>
</html>