<!-- 주문/배송 조회 -->
<!DOCTYPE html>
<html>
<head>
<!-- header 파일  -->
{{> /include/header}}
</head>
<body>
	<!-- 페이지 공통 메뉴 파일  -->
	{{> /include/navigation}}
	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<!-- 왼쪽에 공통으로 들어가는 메뉴 -->
			{{> /include/menuAccount}}
			<div class="col-md-9 table-responsive">
				<h3>
					<strong>나의 쇼핑 내역</strong>
				</h3>
				<br>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>상품명</th>
							<th>수량</th>
							<th>주문 시간</th>
						</tr>
					</thead>
					<tbody>
						{{#order}}
						<tr>
							<th scope="row"><a href="/product/{{product.number}}">{{product.title}}</a></th>
							<td>{{amount}}</td>
							<td>{{createDate}}</td>
							<td><a href="/order/{{code}}/delete" class="btn btn-warning">주문 취소</a></td>
						</tr>
						{{/order}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<!-- JS 관련 파일  -->
	{{> /include/footer}}
</body>
</html>